USE [master]
GO
/****** Object:  Database [CreditRiskDB]    Script Date: 1/28/2026 3:46:09 PM ******/
CREATE DATABASE [CreditRiskDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'CreditRiskDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.SQLEXPRESS\MSSQL\DATA\CreditRiskDB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'CreditRiskDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.SQLEXPRESS\MSSQL\DATA\CreditRiskDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [CreditRiskDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [CreditRiskDB]
GO
/****** Object:  User [sa]    Script Date: 1/28/2026 3:46:09 PM ******/
CREATE USER [sa] FOR LOGIN [sa] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  Table [dbo].[Alert]    Script Date: 1/28/2026 3:46:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Alert](
	[alert_id] [bigint] IDENTITY(1,1) NOT NULL,
	[facility_id] [bigint] NULL,
	[customer_id] [bigint] NULL,
	[alert_type] [nvarchar](50) NOT NULL,
	[severity] [nvarchar](20) NOT NULL,
	[message] [nvarchar](500) NULL,
	[is_resolved] [bit] NOT NULL,
	[created_at] [datetime2](7) NOT NULL,
	[resolved_at] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[alert_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Alert_Subscription]    Script Date: 1/28/2026 3:46:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Alert_Subscription](
	[subscription_id] [bigint] IDENTITY(1,1) NOT NULL,
	[user_id] [bigint] NOT NULL,
	[alert_type] [nvarchar](50) NOT NULL,
	[alert_severity] [nvarchar](20) NOT NULL,
	[is_active] [bit] NOT NULL,
	[created_at] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[subscription_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Audit_Log]    Script Date: 1/28/2026 3:46:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Audit_Log](
	[audit_id] [bigint] IDENTITY(1,1) NOT NULL,
	[user_id] [bigint] NULL,
	[action] [nvarchar](50) NOT NULL,
	[entity_type] [nvarchar](100) NOT NULL,
	[entity_id] [bigint] NULL,
	[old_value] [nvarchar](max) NULL,
	[new_value] [nvarchar](max) NULL,
	[performed_at] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[audit_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Chat_History]    Script Date: 1/28/2026 3:46:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Chat_History](
	[chat_id] [bigint] IDENTITY(1,1) NOT NULL,
	[user_id] [bigint] NOT NULL,
	[message] [nvarchar](max) NOT NULL,
	[bot_response] [nvarchar](max) NULL,
	[created_at] [datetime2](7) NOT NULL,
	[session_id] [uniqueidentifier] NULL,
PRIMARY KEY CLUSTERED 
(
	[chat_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Chat_Session]    Script Date: 1/28/2026 3:46:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Chat_Session](
	[session_id] [uniqueidentifier] NOT NULL,
	[user_id] [bigint] NOT NULL,
	[created_at] [datetime2](7) NOT NULL,
	[last_interaction] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[session_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Customer]    Script Date: 1/28/2026 3:46:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Customer](
	[customer_id] [bigint] IDENTITY(1,1) NOT NULL,
	[user_id] [bigint] NULL,
	[full_name] [nvarchar](150) NOT NULL,
	[age] [int] NULL,
	[monthly_income] [decimal](18, 2) NULL,
	[credit_score] [int] NULL,
	[employment_status] [nvarchar](50) NULL,
	[created_at] [datetime2](7) NOT NULL,
	[updated_at] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[customer_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Customer_Payment_Statistics]    Script Date: 1/28/2026 3:46:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Customer_Payment_Statistics](
	[stat_id] [bigint] IDENTITY(1,1) NOT NULL,
	[customer_id] [bigint] NOT NULL,
	[total_facilities] [int] NULL,
	[total_outstanding] [decimal](20, 2) NULL,
	[average_on_time_rate] [decimal](5, 2) NULL,
	[total_violations] [int] NULL,
	[highest_risk_group] [varchar](20) NULL,
	[facilities_upgraded_last_month] [int] NULL,
	[facilities_downgraded_last_month] [int] NULL,
	[updated_at] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[stat_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_Customer_Payment_Statistics] UNIQUE NONCLUSTERED 
(
	[customer_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[FINANCIAL_INDICATOR]    Script Date: 1/28/2026 3:46:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FINANCIAL_INDICATOR](
	[indicator_id] [bigint] IDENTITY(1,1) NOT NULL,
	[customer_id] [bigint] NOT NULL,
	[debt_to_income] [decimal](10, 4) NULL,
	[monthly_expense] [decimal](18, 2) NULL,
	[asset_value] [decimal](18, 2) NULL,
	[updated_at] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[indicator_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LINEAR_MODEL]    Script Date: 1/28/2026 3:46:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LINEAR_MODEL](
	[model_id] [bigint] IDENTITY(1,1) NOT NULL,
	[model_name] [nvarchar](100) NOT NULL,
	[created_at] [datetime2](7) NOT NULL,
	[r_squared] [decimal](10, 6) NULL,
	[mse] [decimal](18, 6) NULL,
	[version_tag] [nvarchar](50) NULL,
	[is_active] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[model_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Loan_Application]    Script Date: 1/28/2026 3:46:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Loan_Application](
	[application_id] [bigint] IDENTITY(1,1) NOT NULL,
	[customer_id] [bigint] NOT NULL,
	[loan_amount] [decimal](18, 2) NOT NULL,
	[loan_term] [int] NOT NULL,
	[interest_rate] [decimal](10, 4) NULL,
	[loan_status] [nvarchar](50) NOT NULL,
	[loan_purpose] [nvarchar](200) NULL,
	[created_at] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[application_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Loan_Delinquency]    Script Date: 1/28/2026 3:46:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Loan_Delinquency](
	[delinquency_id] [bigint] IDENTITY(1,1) NOT NULL,
	[facility_id] [bigint] NOT NULL,
	[as_of_date] [date] NOT NULL,
	[days_past_due] [int] NOT NULL,
	[overdue_amount] [decimal](18, 2) NULL,
	[risk_bucket] [nvarchar](20) NULL,
	[created_at] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[delinquency_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Loan_Facility]    Script Date: 1/28/2026 3:46:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Loan_Facility](
	[facility_id] [bigint] IDENTITY(1,1) NOT NULL,
	[application_id] [bigint] NULL,
	[customer_id] [bigint] NOT NULL,
	[facility_type] [nvarchar](50) NULL,
	[approved_amount] [decimal](18, 2) NOT NULL,
	[interest_rate] [decimal](10, 4) NULL,
	[start_date] [date] NULL,
	[end_date] [date] NULL,
	[status] [nvarchar](50) NOT NULL,
	[created_at] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[facility_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Loan_Payment]    Script Date: 1/28/2026 3:46:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Loan_Payment](
	[payment_id] [bigint] IDENTITY(1,1) NOT NULL,
	[facility_id] [bigint] NOT NULL,
	[schedule_id] [bigint] NULL,
	[payment_date] [date] NOT NULL,
	[amount_paid] [decimal](18, 2) NOT NULL,
	[principal_paid] [decimal](18, 2) NULL,
	[interest_paid] [decimal](18, 2) NULL,
	[payment_method] [nvarchar](50) NULL,
	[status] [nvarchar](50) NULL,
	[created_at] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[payment_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Loan_Repayment_Schedule]    Script Date: 1/28/2026 3:46:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Loan_Repayment_Schedule](
	[schedule_id] [bigint] IDENTITY(1,1) NOT NULL,
	[facility_id] [bigint] NOT NULL,
	[installment_no] [int] NOT NULL,
	[due_date] [date] NOT NULL,
	[principal_amount] [decimal](18, 2) NOT NULL,
	[interest_amount] [decimal](18, 2) NOT NULL,
	[total_due] [decimal](18, 2) NOT NULL,
	[remaining_balance] [decimal](18, 2) NOT NULL,
	[created_at] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[schedule_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Loan_Status_Migration]    Script Date: 1/28/2026 3:46:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Loan_Status_Migration](
	[migration_id] [bigint] IDENTITY(1,1) NOT NULL,
	[facility_id] [bigint] NOT NULL,
	[from_group] [varchar](20) NULL,
	[to_group] [varchar](20) NOT NULL,
	[migration_date] [datetime2](7) NOT NULL,
	[reason] [varchar](500) NULL,
PRIMARY KEY CLUSTERED 
(
	[migration_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Model_Version]    Script Date: 1/28/2026 3:46:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Model_Version](
	[model_id] [bigint] IDENTITY(1,1) NOT NULL,
	[model_name] [nvarchar](100) NOT NULL,
	[version_tag] [nvarchar](50) NOT NULL,
	[training_date] [date] NULL,
	[is_active] [bit] NOT NULL,
	[metrics_json] [nvarchar](max) NULL,
	[created_at] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[model_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Monthly_Delinquency]    Script Date: 1/28/2026 3:46:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Monthly_Delinquency](
	[snapshot_id] [bigint] IDENTITY(1,1) NOT NULL,
	[facility_id] [bigint] NOT NULL,
	[snapshot_month] [date] NOT NULL,
	[days_past_due] [int] NOT NULL,
	[risk_group] [varchar](20) NULL,
	[principal_overdue] [decimal](18, 2) NULL,
	[interest_overdue] [decimal](18, 2) NULL,
	[total_overdue] [decimal](18, 2) NULL,
	[on_time_payment_rate] [decimal](5, 2) NULL,
	[violation_count] [int] NULL,
	[created_at] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[snapshot_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_Monthly_Delinquency_Facility_Month] UNIQUE NONCLUSTERED 
(
	[facility_id] ASC,
	[snapshot_month] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Portfolio_Risk_Summary]    Script Date: 1/28/2026 3:46:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Portfolio_Risk_Summary](
	[summary_id] [bigint] IDENTITY(1,1) NOT NULL,
	[summary_date] [date] NOT NULL,
	[total_facilities] [int] NULL,
	[group_1_count] [int] NULL,
	[group_2_count] [int] NULL,
	[group_3_count] [int] NULL,
	[group_4_count] [int] NULL,
	[total_outstanding] [decimal](20, 2) NULL,
	[group_3_4_outstanding] [decimal](20, 2) NULL,
	[npl_ratio] [decimal](5, 2) NULL,
	[par_30] [decimal](5, 2) NULL,
	[par_90] [decimal](5, 2) NULL,
	[on_time_payment_rate] [decimal](5, 2) NULL,
	[migrated_to_group_2] [int] NULL,
	[migrated_to_group_3] [int] NULL,
	[migrated_to_group_4] [int] NULL,
	[created_at] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[summary_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_Summary_Date] UNIQUE NONCLUSTERED 
(
	[summary_date] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Portfolio_Snapshot]    Script Date: 1/28/2026 3:46:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Portfolio_Snapshot](
	[snapshot_id] [bigint] IDENTITY(1,1) NOT NULL,
	[snapshot_date] [date] NOT NULL,
	[total_exposure] [decimal](20, 2) NULL,
	[npl_ratio] [decimal](10, 4) NULL,
	[total_npl] [decimal](20, 2) NULL,
	[avg_credit_score] [decimal](10, 2) NULL,
	[created_at] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[snapshot_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[REGRESSION_COEFFICIENT]    Script Date: 1/28/2026 3:46:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[REGRESSION_COEFFICIENT](
	[coefficient_id] [bigint] IDENTITY(1,1) NOT NULL,
	[model_id] [bigint] NOT NULL,
	[feature_name] [nvarchar](100) NOT NULL,
	[beta_value] [decimal](18, 6) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[coefficient_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RISK_PREDICTION]    Script Date: 1/28/2026 3:46:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RISK_PREDICTION](
	[prediction_id] [bigint] IDENTITY(1,1) NOT NULL,
	[application_id] [bigint] NULL,
	[customer_id] [bigint] NULL,
	[model_id] [bigint] NULL,
	[risk_score] [decimal](10, 6) NOT NULL,
	[risk_level] [nvarchar](20) NULL,
	[predicted_at] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[prediction_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Role]    Script Date: 1/28/2026 3:46:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Role](
	[role_id] [int] NOT NULL,
	[role_name] [nvarchar](50) NOT NULL,
	[description] [nvarchar](500) NULL,
PRIMARY KEY CLUSTERED 
(
	[role_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[role_name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SHAP_Explanation]    Script Date: 1/28/2026 3:46:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SHAP_Explanation](
	[explain_id] [bigint] IDENTITY(1,1) NOT NULL,
	[prediction_id] [bigint] NOT NULL,
	[feature_name] [nvarchar](100) NOT NULL,
	[shap_value] [decimal](18, 6) NOT NULL,
	[contribution_type] [nvarchar](20) NULL,
	[created_at] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[explain_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Transaction_Log]    Script Date: 1/28/2026 3:46:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Transaction_Log](
	[transaction_id] [bigint] IDENTITY(1,1) NOT NULL,
	[facility_id] [bigint] NOT NULL,
	[transaction_type] [varchar](50) NOT NULL,
	[amount] [decimal](18, 2) NOT NULL,
	[transaction_date] [datetime2](7) NOT NULL,
	[description] [varchar](500) NULL,
	[created_at] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[transaction_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[User]    Script Date: 1/28/2026 3:46:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[User](
	[user_id] [bigint] IDENTITY(1,1) NOT NULL,
	[role_id] [int] NOT NULL,
	[username] [nvarchar](50) NOT NULL,
	[password] [nvarchar](255) NOT NULL,
	[email] [nvarchar](100) NULL,
	[created_at] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[user_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IX_Alert_Resolved]    Script Date: 1/28/2026 3:46:09 PM ******/
CREATE NONCLUSTERED INDEX [IX_Alert_Resolved] ON [dbo].[Alert]
(
	[is_resolved] ASC,
	[created_at] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_CustStats_HighestRisk]    Script Date: 1/28/2026 3:46:09 PM ******/
CREATE NONCLUSTERED INDEX [IX_CustStats_HighestRisk] ON [dbo].[Customer_Payment_Statistics]
(
	[highest_risk_group] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Financial_Customer_Latest]    Script Date: 1/28/2026 3:46:09 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_Financial_Customer_Latest] ON [dbo].[FINANCIAL_INDICATOR]
(
	[customer_id] ASC,
	[updated_at] DESC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Loan_Application_Status]    Script Date: 1/28/2026 3:46:09 PM ******/
CREATE NONCLUSTERED INDEX [IX_Loan_Application_Status] ON [dbo].[Loan_Application]
(
	[loan_status] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Delinquency_AsOfDate]    Script Date: 1/28/2026 3:46:09 PM ******/
CREATE NONCLUSTERED INDEX [IX_Delinquency_AsOfDate] ON [dbo].[Loan_Delinquency]
(
	[as_of_date] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Loan_Delinquency_Facility_Date]    Script Date: 1/28/2026 3:46:09 PM ******/
CREATE NONCLUSTERED INDEX [IX_Loan_Delinquency_Facility_Date] ON [dbo].[Loan_Delinquency]
(
	[facility_id] ASC,
	[as_of_date] DESC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Loan_Facility_Customer]    Script Date: 1/28/2026 3:46:09 PM ******/
CREATE NONCLUSTERED INDEX [IX_Loan_Facility_Customer] ON [dbo].[Loan_Facility]
(
	[customer_id] ASC,
	[status] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Loan_Facility_Status]    Script Date: 1/28/2026 3:46:09 PM ******/
CREATE NONCLUSTERED INDEX [IX_Loan_Facility_Status] ON [dbo].[Loan_Facility]
(
	[status] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Loan_Payment_Facility_Date]    Script Date: 1/28/2026 3:46:09 PM ******/
CREATE NONCLUSTERED INDEX [IX_Loan_Payment_Facility_Date] ON [dbo].[Loan_Payment]
(
	[facility_id] ASC,
	[payment_date] DESC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Migration_Facility_Date]    Script Date: 1/28/2026 3:46:09 PM ******/
CREATE NONCLUSTERED INDEX [IX_Migration_Facility_Date] ON [dbo].[Loan_Status_Migration]
(
	[facility_id] ASC,
	[migration_date] DESC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Migration_Groups]    Script Date: 1/28/2026 3:46:09 PM ******/
CREATE NONCLUSTERED INDEX [IX_Migration_Groups] ON [dbo].[Loan_Status_Migration]
(
	[from_group] ASC,
	[to_group] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Monthly_Delinquency_Month]    Script Date: 1/28/2026 3:46:09 PM ******/
CREATE NONCLUSTERED INDEX [IX_Monthly_Delinquency_Month] ON [dbo].[Monthly_Delinquency]
(
	[snapshot_month] DESC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Monthly_Delinquency_RiskGroup]    Script Date: 1/28/2026 3:46:09 PM ******/
CREATE NONCLUSTERED INDEX [IX_Monthly_Delinquency_RiskGroup] ON [dbo].[Monthly_Delinquency]
(
	[risk_group] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Portfolio_Summary_Date]    Script Date: 1/28/2026 3:46:09 PM ******/
CREATE NONCLUSTERED INDEX [IX_Portfolio_Summary_Date] ON [dbo].[Portfolio_Risk_Summary]
(
	[summary_date] DESC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Transaction_Facility_Date]    Script Date: 1/28/2026 3:46:09 PM ******/
CREATE NONCLUSTERED INDEX [IX_Transaction_Facility_Date] ON [dbo].[Transaction_Log]
(
	[facility_id] ASC,
	[transaction_date] DESC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Transaction_Type]    Script Date: 1/28/2026 3:46:09 PM ******/
CREATE NONCLUSTERED INDEX [IX_Transaction_Type] ON [dbo].[Transaction_Log]
(
	[transaction_type] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Customer_Email]    Script Date: 1/28/2026 3:46:09 PM ******/
CREATE NONCLUSTERED INDEX [IX_Customer_Email] ON [dbo].[User]
(
	[email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Alert] ADD  DEFAULT ((0)) FOR [is_resolved]
GO
ALTER TABLE [dbo].[Alert] ADD  DEFAULT (sysutcdatetime()) FOR [created_at]
GO
ALTER TABLE [dbo].[Alert_Subscription] ADD  DEFAULT ((1)) FOR [is_active]
GO
ALTER TABLE [dbo].[Alert_Subscription] ADD  DEFAULT (sysutcdatetime()) FOR [created_at]
GO
ALTER TABLE [dbo].[Audit_Log] ADD  DEFAULT (sysutcdatetime()) FOR [performed_at]
GO
ALTER TABLE [dbo].[Chat_History] ADD  DEFAULT (sysutcdatetime()) FOR [created_at]
GO
ALTER TABLE [dbo].[Chat_Session] ADD  DEFAULT (newid()) FOR [session_id]
GO
ALTER TABLE [dbo].[Chat_Session] ADD  DEFAULT (sysutcdatetime()) FOR [created_at]
GO
ALTER TABLE [dbo].[Customer] ADD  DEFAULT (sysutcdatetime()) FOR [created_at]
GO
ALTER TABLE [dbo].[Customer_Payment_Statistics] ADD  DEFAULT (sysutcdatetime()) FOR [updated_at]
GO
ALTER TABLE [dbo].[FINANCIAL_INDICATOR] ADD  DEFAULT (sysutcdatetime()) FOR [updated_at]
GO
ALTER TABLE [dbo].[LINEAR_MODEL] ADD  DEFAULT (sysutcdatetime()) FOR [created_at]
GO
ALTER TABLE [dbo].[LINEAR_MODEL] ADD  DEFAULT ((1)) FOR [is_active]
GO
ALTER TABLE [dbo].[Loan_Application] ADD  DEFAULT (sysutcdatetime()) FOR [created_at]
GO
ALTER TABLE [dbo].[Loan_Delinquency] ADD  DEFAULT (sysutcdatetime()) FOR [created_at]
GO
ALTER TABLE [dbo].[Loan_Facility] ADD  DEFAULT (sysutcdatetime()) FOR [created_at]
GO
ALTER TABLE [dbo].[Loan_Payment] ADD  DEFAULT (sysutcdatetime()) FOR [created_at]
GO
ALTER TABLE [dbo].[Loan_Repayment_Schedule] ADD  DEFAULT (sysutcdatetime()) FOR [created_at]
GO
ALTER TABLE [dbo].[Model_Version] ADD  DEFAULT ((1)) FOR [is_active]
GO
ALTER TABLE [dbo].[Model_Version] ADD  DEFAULT (sysutcdatetime()) FOR [created_at]
GO
ALTER TABLE [dbo].[Monthly_Delinquency] ADD  DEFAULT (sysutcdatetime()) FOR [created_at]
GO
ALTER TABLE [dbo].[Portfolio_Risk_Summary] ADD  DEFAULT (sysutcdatetime()) FOR [created_at]
GO
ALTER TABLE [dbo].[Portfolio_Snapshot] ADD  DEFAULT (sysutcdatetime()) FOR [created_at]
GO
ALTER TABLE [dbo].[RISK_PREDICTION] ADD  DEFAULT (sysutcdatetime()) FOR [predicted_at]
GO
ALTER TABLE [dbo].[SHAP_Explanation] ADD  DEFAULT (sysutcdatetime()) FOR [created_at]
GO
ALTER TABLE [dbo].[Transaction_Log] ADD  DEFAULT (sysutcdatetime()) FOR [created_at]
GO
ALTER TABLE [dbo].[User] ADD  DEFAULT (sysutcdatetime()) FOR [created_at]
GO
ALTER TABLE [dbo].[Alert]  WITH CHECK ADD  CONSTRAINT [FK_Alert_Customer] FOREIGN KEY([customer_id])
REFERENCES [dbo].[Customer] ([customer_id])
GO
ALTER TABLE [dbo].[Alert] CHECK CONSTRAINT [FK_Alert_Customer]
GO
ALTER TABLE [dbo].[Alert]  WITH CHECK ADD  CONSTRAINT [FK_Alert_Facility] FOREIGN KEY([facility_id])
REFERENCES [dbo].[Loan_Facility] ([facility_id])
GO
ALTER TABLE [dbo].[Alert] CHECK CONSTRAINT [FK_Alert_Facility]
GO
ALTER TABLE [dbo].[Alert_Subscription]  WITH CHECK ADD  CONSTRAINT [FK_Subscription_User] FOREIGN KEY([user_id])
REFERENCES [dbo].[User] ([user_id])
GO
ALTER TABLE [dbo].[Alert_Subscription] CHECK CONSTRAINT [FK_Subscription_User]
GO
ALTER TABLE [dbo].[Audit_Log]  WITH CHECK ADD  CONSTRAINT [FK_Audit_User] FOREIGN KEY([user_id])
REFERENCES [dbo].[User] ([user_id])
GO
ALTER TABLE [dbo].[Audit_Log] CHECK CONSTRAINT [FK_Audit_User]
GO
ALTER TABLE [dbo].[Chat_History]  WITH CHECK ADD  CONSTRAINT [FK_Chat_Session] FOREIGN KEY([session_id])
REFERENCES [dbo].[Chat_Session] ([session_id])
GO
ALTER TABLE [dbo].[Chat_History] CHECK CONSTRAINT [FK_Chat_Session]
GO
ALTER TABLE [dbo].[Chat_History]  WITH CHECK ADD  CONSTRAINT [FK_Chat_User] FOREIGN KEY([user_id])
REFERENCES [dbo].[User] ([user_id])
GO
ALTER TABLE [dbo].[Chat_History] CHECK CONSTRAINT [FK_Chat_User]
GO
ALTER TABLE [dbo].[Chat_Session]  WITH CHECK ADD  CONSTRAINT [FK_Session_User] FOREIGN KEY([user_id])
REFERENCES [dbo].[User] ([user_id])
GO
ALTER TABLE [dbo].[Chat_Session] CHECK CONSTRAINT [FK_Session_User]
GO
ALTER TABLE [dbo].[Customer]  WITH CHECK ADD  CONSTRAINT [FK_Customer_User] FOREIGN KEY([user_id])
REFERENCES [dbo].[User] ([user_id])
GO
ALTER TABLE [dbo].[Customer] CHECK CONSTRAINT [FK_Customer_User]
GO
ALTER TABLE [dbo].[Customer_Payment_Statistics]  WITH CHECK ADD  CONSTRAINT [FK_CustStats_Customer] FOREIGN KEY([customer_id])
REFERENCES [dbo].[Customer] ([customer_id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Customer_Payment_Statistics] CHECK CONSTRAINT [FK_CustStats_Customer]
GO
ALTER TABLE [dbo].[FINANCIAL_INDICATOR]  WITH CHECK ADD  CONSTRAINT [FK_Financial_Customer] FOREIGN KEY([customer_id])
REFERENCES [dbo].[Customer] ([customer_id])
GO
ALTER TABLE [dbo].[FINANCIAL_INDICATOR] CHECK CONSTRAINT [FK_Financial_Customer]
GO
ALTER TABLE [dbo].[Loan_Application]  WITH CHECK ADD  CONSTRAINT [FK_Application_Customer] FOREIGN KEY([customer_id])
REFERENCES [dbo].[Customer] ([customer_id])
GO
ALTER TABLE [dbo].[Loan_Application] CHECK CONSTRAINT [FK_Application_Customer]
GO
ALTER TABLE [dbo].[Loan_Delinquency]  WITH CHECK ADD  CONSTRAINT [FK_Delinquency_Facility] FOREIGN KEY([facility_id])
REFERENCES [dbo].[Loan_Facility] ([facility_id])
GO
ALTER TABLE [dbo].[Loan_Delinquency] CHECK CONSTRAINT [FK_Delinquency_Facility]
GO
ALTER TABLE [dbo].[Loan_Facility]  WITH CHECK ADD  CONSTRAINT [FK_Facility_Application] FOREIGN KEY([application_id])
REFERENCES [dbo].[Loan_Application] ([application_id])
GO
ALTER TABLE [dbo].[Loan_Facility] CHECK CONSTRAINT [FK_Facility_Application]
GO
ALTER TABLE [dbo].[Loan_Facility]  WITH CHECK ADD  CONSTRAINT [FK_Facility_Customer] FOREIGN KEY([customer_id])
REFERENCES [dbo].[Customer] ([customer_id])
GO
ALTER TABLE [dbo].[Loan_Facility] CHECK CONSTRAINT [FK_Facility_Customer]
GO
ALTER TABLE [dbo].[Loan_Payment]  WITH CHECK ADD  CONSTRAINT [FK_Payment_Facility] FOREIGN KEY([facility_id])
REFERENCES [dbo].[Loan_Facility] ([facility_id])
GO
ALTER TABLE [dbo].[Loan_Payment] CHECK CONSTRAINT [FK_Payment_Facility]
GO
ALTER TABLE [dbo].[Loan_Payment]  WITH CHECK ADD  CONSTRAINT [FK_Payment_Schedule] FOREIGN KEY([schedule_id])
REFERENCES [dbo].[Loan_Repayment_Schedule] ([schedule_id])
GO
ALTER TABLE [dbo].[Loan_Payment] CHECK CONSTRAINT [FK_Payment_Schedule]
GO
ALTER TABLE [dbo].[Loan_Repayment_Schedule]  WITH CHECK ADD  CONSTRAINT [FK_Schedule_Facility] FOREIGN KEY([facility_id])
REFERENCES [dbo].[Loan_Facility] ([facility_id])
GO
ALTER TABLE [dbo].[Loan_Repayment_Schedule] CHECK CONSTRAINT [FK_Schedule_Facility]
GO
ALTER TABLE [dbo].[Loan_Status_Migration]  WITH CHECK ADD  CONSTRAINT [FK_Migration_Facility] FOREIGN KEY([facility_id])
REFERENCES [dbo].[Loan_Facility] ([facility_id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Loan_Status_Migration] CHECK CONSTRAINT [FK_Migration_Facility]
GO
ALTER TABLE [dbo].[Monthly_Delinquency]  WITH CHECK ADD  CONSTRAINT [FK_Monthly_Delinquency_Facility] FOREIGN KEY([facility_id])
REFERENCES [dbo].[Loan_Facility] ([facility_id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Monthly_Delinquency] CHECK CONSTRAINT [FK_Monthly_Delinquency_Facility]
GO
ALTER TABLE [dbo].[REGRESSION_COEFFICIENT]  WITH CHECK ADD  CONSTRAINT [FK_Coefficient_Model] FOREIGN KEY([model_id])
REFERENCES [dbo].[LINEAR_MODEL] ([model_id])
GO
ALTER TABLE [dbo].[REGRESSION_COEFFICIENT] CHECK CONSTRAINT [FK_Coefficient_Model]
GO
ALTER TABLE [dbo].[RISK_PREDICTION]  WITH CHECK ADD  CONSTRAINT [FK_Prediction_Application] FOREIGN KEY([application_id])
REFERENCES [dbo].[Loan_Application] ([application_id])
GO
ALTER TABLE [dbo].[RISK_PREDICTION] CHECK CONSTRAINT [FK_Prediction_Application]
GO
ALTER TABLE [dbo].[RISK_PREDICTION]  WITH CHECK ADD  CONSTRAINT [FK_Prediction_Customer] FOREIGN KEY([customer_id])
REFERENCES [dbo].[Customer] ([customer_id])
GO
ALTER TABLE [dbo].[RISK_PREDICTION] CHECK CONSTRAINT [FK_Prediction_Customer]
GO
ALTER TABLE [dbo].[RISK_PREDICTION]  WITH CHECK ADD  CONSTRAINT [FK_Prediction_Model] FOREIGN KEY([model_id])
REFERENCES [dbo].[LINEAR_MODEL] ([model_id])
GO
ALTER TABLE [dbo].[RISK_PREDICTION] CHECK CONSTRAINT [FK_Prediction_Model]
GO
ALTER TABLE [dbo].[SHAP_Explanation]  WITH CHECK ADD  CONSTRAINT [FK_SHAP_Prediction] FOREIGN KEY([prediction_id])
REFERENCES [dbo].[RISK_PREDICTION] ([prediction_id])
GO
ALTER TABLE [dbo].[SHAP_Explanation] CHECK CONSTRAINT [FK_SHAP_Prediction]
GO
ALTER TABLE [dbo].[Transaction_Log]  WITH CHECK ADD  CONSTRAINT [FK_Transaction_Facility] FOREIGN KEY([facility_id])
REFERENCES [dbo].[Loan_Facility] ([facility_id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Transaction_Log] CHECK CONSTRAINT [FK_Transaction_Facility]
GO
ALTER TABLE [dbo].[User]  WITH CHECK ADD  CONSTRAINT [FK_User_Role] FOREIGN KEY([role_id])
REFERENCES [dbo].[Role] ([role_id])
GO
ALTER TABLE [dbo].[User] CHECK CONSTRAINT [FK_User_Role]
GO
USE [master]
GO
